<div class="grid-container">
    <div class="moon grid-item">
    </div>
      
    <div class="error grid-item">
        <div class="error__title">404</div>
        <div class="error__subtitle">Hmmm...</div>
        <div class="error__description">It looks like you need a ride back</div><br>
        <button class="error__button error__button--active" [routerLink]="['/']">Back Home</button><br><br>
        <button class="error__button error__button--active cusBtn" [routerLink]="['/customers']">Back To Customers Page</button><br><br>
        <button class="error__button error__button--active conBtn" [routerLink]="['/contacts']">Back To Contacts Page</button><br><br>
    </div>

    <div class="astronaut grid-item">
          <img src="assets/images/catastronaut.png" class="img" alt="astronaut">
    </div>
</div>

